@{
  Layout = "_Layout";
}

<h1>Add a Vendor</h1>
<p>Add a vendor here:</p>

<form action="/vendors" method="post">
  <label for="vendors">Vendor Name</label>
  <input id="vendor" name="vendor" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/vendors">Back to vendors list</a></p>