@{
  Layout = "_Layout";
}

<h1>Add a Vendor:</h1>

<form action="/vendors" method="post">
  <br>
  <label for="vendorName">Vendor Name</label>
  <input id="vendorName" name="vendorName" type="text">
  <br>
  <label for="vendorDescription">Vendor Description</label>
  <input id="vendorDescription" name="vendorDescription" type="text">
  <br>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
<br>
<br>


<p><a href="/">Return to Home Page</a></p>
<p><a href="/vendors">Return to Vendors list</a></p>