@{
  Layout = "_Layout";
}
<h1>Pierre's Bakery: Home Page</h1>
<br>
<p>Keep track of your orders with this easy-to-use application</p>
<p>Simply input the Vendor's name and a brief description</p>
<p>Orders will be kept within a list according to each Vendor</p>
<p>Enjoy! Please reach out with any further questions</p>
<br>
<h5><a href='/vendors'>View Vendors</a></h5>
<h5><a href='/vendors/new'>Add a new Vendor</a></h5>